[submodule "Trajectron-plus-plus"] 
  path = Trajectron-plus-plus
  url = https://github.com/StanfordASL/Trajectron-plus-plus.git
[submodule "webpage-template"]
  path = webpage-template
  url = https://github.com/richzhang/webpage-template.git
